{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!--[if IE]><![endif]-->

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block favicon %}{% endblock favicon %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!-- the html5 object below is taken from the google html5shiv code
             but has the canvas element removed since we are using excanvas
             instead (required for flot)
        -->
        <!--[if lt IE 9]>
          <script type="text/javascript">
            var html5 = { 'elements': 'abbr article aside audio bdi data datalist details figcaption figure footer header hgroup mark meter nav output progress section summary time video' };
          </script>
          <script src="{% static "pinax/js/html5.js" %}"></script>
        <![endif]-->

        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static "pinax/js/excanvas.js" %}"></script><![endif]-->

        {% block style_base %}
            <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/font-awesome.min.css" %}" rel="stylesheet">
            <!--[if IE 7]>
            <link rel="stylesheet" href="{% static "bootstrap/css/font-awesome-ie7.min.css" %}">
            <![endif]-->
            {% block extra_style %}{% endblock %}
        {% endblock %}
        {% block script_base %}
            <script src="{% static "pinax/js/jquery-1.11.1.min.js" %}"></script>
            <script src="{% static "pinax/js/jquery.form.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            {#<script src="{% static "pinax/js/pinax.modal.js" %}"></script>#}
            <script type="text/javascript" src="{% static "js/json2.js" %}?v={{VERSION}}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block topbar_base %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        {% block topbar %}
                            {% block site_brand %}<a class="brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
                            <div>
                                {% block nav %}{% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body_base %}
            <div class="container-fluid">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container-fluid">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
