{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}QA Data Charts{% endblock %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}?v={{VERSION}}" rel="stylesheet">
    <link href="{% static "css/charts.css" %}?v={{VERSION}}" rel="stylesheet">
    <link href="{% static "datepicker/css/datepicker.css" %}?v={{VERSION}}" rel="stylesheet">
{% endblock %}

{% block extra_script %}

    <script src="{% static "js/highstock/highstock.js" %}?v={{VERSION}}"></script>
    <script src="{% static "js/highstock/highcharts-more.js" %}?v={{VERSION}}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}?v={{VERSION}}"></script>

    <script>
        var QACharts = {
            unit_frequencies:{{unit_frequencies|safe}}
        };
    </script>

    <script src="{% static "js/charts.js" %}?v={{VERSION}}"></script>
{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <h3>Trending</h3>
    </div>
</div>
<div id="test-filters" class="row-fluid">

    <div class="span1">
        <div id="unit-container" class="control-container">
            <h5>1. Units</h5>
            <div class="checkbox-container test-filter">
                {% for unit in units %}
                    <label class="checkbox" title="{{unit.name}}" >
                        <input type="checkbox" id="unit-{{unit.pk}}" name="unit[]" value="{{unit.pk}}" title="{{unit.name}}" class="unit unit-type-{{unit.type.pk}}"></input>
                        {{unit.name}}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="span1">
        <div id="frequency-container" class="control-container">
            <h5>2. Frequencies</h5>
            <div class="checkbox-container test-filter">
                {% for frequency in frequencies %}
                    <label class="checkbox" title="{{frequency.name}}" >
                        <input type="checkbox" id="frequency-{{frequency.pk}}" name="frequency[]" value="{{frequency.pk}}" checked="checked" class="frequency"></input>
                        {{frequency.name}}
                    </label>
                {% endfor %}
                <label class="checkbox" title="Ad-hoc" >
                    <input type="checkbox" id="frequency-ad-hoc" name="frequency[]" value="0" checked="checked" class="frequency"></input>
                    <em>Ad-hoc</em>
                </label>
            </div>
        </div>
    </div>
    <div class="span2">
        <div id="test-list-container" class="control-container">
            <h5 style="">3. Test Lists </h5>
            <label style="" class="checkbox">
                <input id="include_inactive" type="checkbox"/>
                <em>Include Inactive Test Lists</em>
            </label>
            <div id="test" class="checkbox-container test-filter">
                {% for test_list in test_lists %}
                    <label class="checkbox" title="{{test_list.name}}" >
                        <input type="checkbox" id="test-list-{{test_list.pk}}" name="test-list[]" value="{{test_list.pk}}" title="{{test_list.description}}"  class="test-list"></input>
                        {{test_list.name}}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="span4">
        <div id="test-container" class="control-container">
            <h5>4. Tests to Plot</h5>

            <div class="checkbox-container test-filter">
                {% for test in tests %}
                    <label class="checkbox" title="{{test.description}}" >
                        <input value="{{test.pk}}" type="checkbox" name="test[]" id="test-{{test.pk}}"  class="test category-{{test.category}} type-{{test.type}}"></input>
                        {{test.name}}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="row-fluid">
            <div class="span12">
                <div id="chart-options" class="control-container form-inline">
                    <h5>Chart Options</h5>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="control-label" for="chart-type">
                                Type:
                                <select id="chart-type" class="inline input-medium">
                                    <option value="basic">Basic</option>
                                    <option value="control">Control Chart</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div id="basic-chart-options" class="row-fluid">
                        <div class="span12">
                            <label class="checkbox basic-option" for="show-lines">
                                <input type="checkbox" id="show-lines" checked="checked" />
                                Lines
                            </label>
                            <label class="checkbox basic-option" for="show-references">
                                <input type="checkbox" id="show-references" checked="checked" />
                                Refs
                            </label>
                            <label class="checkbox basic-option" for="show-tolerances">
                                <input type="checkbox" id="show-tolerances" checked="checked" />
                                Tols
                            </label>
                            <label class="checkbox basic-option" for="show-legend">
                                <input type="checkbox" id="show-legend" />
                                Legend
                            </label><br/>
                            <label class="checkbox basic-option" for="combine-data" title="Combine Test data from multiple TestLists on a given Unit (e.g. from a TestListCycle)">
                                <input type="checkbox" id="combine-data" />
                                Combine test data for unit
                            </label><br/>
                            <label class="checkbox basic-option" for="relative-diff" >
                                <input type="checkbox" id="relative-diff" />
                                <abbr title="The absolute difference is plotted for tests with absolute tolerances set or with reference values of zero, otherwise the percent difference is plotted">Plot relative to reference values</abbr>
                            </label>
                        </div>
                    </div>
                    <div id="cc-chart-options">

                        {% spaceless %}
                        <div class="input-prepend">
                            <span title="Set the subgroup size (Control Chart Only)" class="control-label control-chart-option add-on" for="subgroup-size">
                                SG Size
                            </span>
                            <input type="number" min="1" step="1" value ="1" id="subgroup-size"  class="input-mini"/>
                        </div>
                        <div class="input-prepend">
                            <span title="Set the number of subgroups for the baseline (Control Chart Only)" class="control-label control-chart-option add-on" for="n-baseline-subgroups">
                                # SG's
                            </span>
                            <input type="number" min="2" step="1" value ="2" id="n-baseline-subgroups" class="input-mini" />
                        </div>

                        <span title="Include a gaussian fit to histogrammed data (slow) (Control Chart Only)" class="control-label control-chart-option" for="include-fit">
                            Fit
                            <input type="checkbox" id="include-fit"/>
                        </span>

                        {% endspaceless %}


                    </div>
                    <h5>Dates</h5>
                    <div id="chart-date-wrapper">
                        <div class="date input-prepend" id="from-date-wrapper" data-date="{{ from_date|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
                            {% spaceless %}
                            <span for="from-date" id="from-date-label" class="add-on ">From</span>
                            <input type="text" id="from-date" class="date-only-input" value="{{ from_date|date:'d-m-Y'}}"></input>
                            {% endspaceless %}
                        </div>
                        <div class="date input-prepend" id="to-date-wrapper" data-date="{{ to_date|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
                            {% spaceless %}
                            <span for="to-date" id="to-date-label" class="add-on">To</span>
                            <input type="text" id="to-date" class="date-only-input" value="{{ to_date|date:'d-m-Y'}}"></input>
                            {% endspaceless %}
                        </div>
                    </div>
                    <hr/>


                    <h5>Review Status Filter</h5>
                    <div id="status-container" class="checkbox-container">
                        {% for status in statuses %}
                            <label class="checkbox">
                                <input type="checkbox" name="status[]" id="status-{{status.pk}}" value="{{status.pk}}" title="{{status.name}}" class="status status-{{status.pk}}" {% if status.export_by_default %}checked="checked"{% endif %}></input>
                                {{status.name}}
                            </label>
                        {% endfor %}
                    </div>
                    <hr/>

                    <div class="input-prepend">
                        {% spaceless %}
                        <span class="add-on">Link</span>
                        <input type="text" class="input" id="chart-url"/>
                        {% endspaceless %}
                    </div>

                </div>


            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <button type="button" class="btn btn-primary pull-right" data-loading-text="Generating Chart..." id="gen-chart">5. Generate Chart</button>
            </div>
        </div>

    </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <div id="chart-container" class="row-fluid">
            <div id="chart"  class="span12"></div>
        </div>
        <div id="control-chart-container" class="row-fluid">
            <div class="please-wait">Control Not Generated Yet</div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="data-table-wrapper"></div>
    </div>
</div>


{% endblock %}



