{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Choose Frequency for Review{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>Review QA By Frequency</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <em>Choose a frequency below to review test lists</em>
    </div>
</div>
<div class="row-fluid row-spacer">
    <div class="span12">
        <div class="btn-group">
            {% for freq in frequencies %}
                <button class="btn"><a href="{% url 'review_by_frequency' frequency=freq.slug %}">{{freq.name}}</a></button>
            {% endfor %}
            <button class="btn"><a href="{% url 'review_by_frequency' frequency="ad-hoc" %}">Ad hoc</a></button>
        </div>
        <script type="text/javascript">
            $(".btn").click(function(){
                window.location = $(this).find("a").attr("href");
            });
        </script>
    </div>
</div>

{% endblock %}

