{% load qa_tags %}
{% for field in form %}
    {% if field.errors %}
        <tr>
            <td colspan="2">&nbsp;</td>
            <td>
            {% for error in field.errors %}
                <span class="alert-error">{{field.label}}:{{ error }}</span>
            {% endfor %}
            </td>
            {% if include_history and include_ref_tols %}
                <td colspan="5">&nbsp;</td>
            {% elif include_history or include_ref_tols %}
                <td colspan="4">&nbsp;</td>
            {% else %}
                <td colspan="3">&nbsp;</td>
            {% endif %}
        </tr>
    {% endif %}
{% endfor %}
<tr class="control-group qa-valuerow {%if test_info.test.hidden %}hidden{% endif %}" >

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% with ref=test_info.reference  tol=test_info.tolerance  test=test_info.test uti=test_info.unit_test_info %}

        <td class="qa-category">{{test.category.name}}</td>
        <td class="qa-name qa-showproc">
            {%if test.procedure or test.description %}
                <a href="#" class="revealprocedure" title="Show/hide procedure for this test">{{test.name}}</a>
            {% else %}
                {{test.name}}
            {% endif %}
        </td>
        <td class="qa-value" title="{{form.value.help_text|safe}}" >
            {% if test.is_boolean %}
                <span class="pull-left">{{form.value.0}}</span>
                <span class="pull-right">{{form.value.1}}</span>
            {% elif test.is_upload %}
                <span class="upload-button">
                    {{form.string_value}}
                    <a type="button" class="btn btn-primary btn-mini ">Upload</a>
                    <input class="file-upload" type="file" />
                </span>
            {% elif test.is_string_type %}
                 <span class="">{{form.string_value}}</span>
            {% else %}
                 <span class="">{{form.value}}</span>
            {% endif %}
        </td>
        <td class="qa-skip"title="{{form.skipped.help_text|safe}}">
            {% if test.skip_required %}{{form.skipped}}{% endif %}
        </td>
        <td class="qa-status">Not Done</td>
        <td class="qa-showcmt"><a href="#" class="revealcomment" title="Add comment for this test"><i class="icon-edit"></i></a></td>

        {% if include_ref_tols or include_history%}
            {% if include_ref_tols %}
                <td class="qa-reference">
                    {% reference_tolerance_span test ref tol %}
                </td>
            {% endif %}
            {% if include_history %}
                <td class="qa-history">
                    {% history_display form.history uti.unit test_list test %}
                </td>
            {% endif %}
        {% else %}
            <td></td>
        {% endif %}



    {% endwith %}
</tr>
<tr class="qa-comment">
    <td colspan="8"  class="" title="{{form.comment.help_text|safe}}">
        <label class="label">Add Comment For Reviewer:</label>
        {{form.comment}}
    </td>
</tr>
<tr class="qa-procedure">
    <td colspan="8"  class="" >
        <table>
            {% if form.unit_test_info.test.procedure %}
            <tr>
                <td>
                    <label class="label">Detailed procedure link:</label>                    <a href="{{form.unit_test_info.test.procedure}}" class="revealprocedure" title="Show detailed procedure for this test" target="_blank">{{form.unit_test_info.test.name}}</a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <div class="qa-procedure-text">
                        {% spaceless %}
                        {% if not form.unit_test_info.test.description %}
                            <pre>
                                <em>No procedure available</em>
                            </pre>
                        {%else %}
                            <pre>{{form.unit_test_info.test.description.strip|safe}}</pre>
                        {% endif %}
                        {% endspaceless%}
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>

