{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}{% spaceless %}
    {% if test_list_instance %}
        Edit {{test_list_instance.unit_test_collection.unit.name}} : {{test_list_instance.test_list.name}}
    {% else %}
        Perform {{unit_test_collection.unit.name}} : {{test_list.name}}
    {% endif %}
{%endspaceless%}{% endblock %}

{% block page_style %}
    <link href="{% static "datepicker/css/datepicker.css" %}?v={{VERSION}}" rel="stylesheet">
{% endblock %}


{% load qa_tags %}

{% block script_base %}
    {{block.super}}

    <script type="text/javascript">
        var unit_test_infos = {{unit_test_infos|safe}};
        var editing_tli = {{ test_list_instance.pk|default:"0"}};
    </script>
{% endblock script_base %}

{% block body %}

<div class="row-fluid">
    <div class="span12">
        <h3 class="pull-left">
            {% if test_list_instance %}
                Edit {{test_list_instance.unit_test_collection.unit.name}} : {{test_list_instance.test_list.name}}
            {% else %}
                Perform {{unit_test_collection.unit.name}} : {{test_list.name}}
            {% endif %}
            {% if test_list.description %}
            <a id="test-list-info-toggle" class="show-hide" title="Click to view description and general instructions for this test list"><i class="icon-info-sign" ></i></a>
            {% endif %}
        </h3>
        <div id="float-right-container">
            <div id="contact-container" class="alert alert-info">

                <span id="toggle-contacts" class="pull-right hand-cursor">
                    Contact Numbers <i class="icon-plus-sign"></i>
                </span>
                <div class="clearfix"></div>
                <div id="contacts" class="clearfix">
                    <hr/>
                    <dl class="dl-horizontal">
                        {% for contact in contacts %}
                            <dt><abbr title="{{contact.description}}">{{contact.name}}</abbr></dt>
                            <dd>{{contact.number}}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

{% if test_list.description or unit_test_collection.tests_object.description %}
<div id="test-list-info" class="row-fluid" style="display:none;">
    <div class="span12">
        {% if days %}
            <pre >
                {{unit_test_collection.tests_object.description|safe}}
            </pre>
            <h5>Day {{current_day}}</h5>
        {% endif %}
        <pre >
            {{test_list.description|safe}}
        </pre>
    </div>
</div>
{% endif %}

{% if days and last_instance %}
    <div class="row-fluid">
        <div class="span12">
            <h5 class="pull-left">
                <em>Last done: {% if last_day %}Day {{last_day}} ({{last_instance.test_list.name}}){% else %}New list{%endif%}</em>
            </h5>
        </div>
    </div>
{% endif %}
<div class="row-fluid">
    <div class="span12" id="overall-qa-status">
        <div id="do-not-treat-top" class="alert alert-error do-not-treat">
            <strong>{{test_list.warning_message}}</strong>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="nosubmit form-inline" id="qa-form" method="POST" action="" autocomplete="off">

            {% csrf_token %}
            <input type="hidden" id="test-list-id" value="{{test_list.pk}}"/>
            <input type="hidden" id="test-list-name" value="{{test_list.name}}"/>
            <input type="hidden" id="unit-id" value="{{unit_test_collection.unit.pk}}"/>
            <input type="hidden" id="unit-number" value="{{unit_test_collection.unit.number}}"/>
            <input type="hidden" id="cycle-day-number" value="{{current_day}}"/>

            <input type="hidden" id="pass-fail-only" value="{% if perms.qa.can_view_ref_tol %}no{% else %}yes{% endif %}"/>
            <input type="hidden" id="require-comment-on-skip" value="{% if perms.qa.can_skip_without_comment %}no{% else %}yes{% endif %}"/>

            <div id="admin_controls" class="well">

                {# display any form errors up top #}
                {% if form.errors %}
                    <div class="alert-message error">
                        {% for field in form%}
                                {% for error in field.errors %}
                                    <span class="alert-error help-block-inline ">{{field.label}} ::{{ error }}</span>
                                {% endfor %}
                        {% endfor %}
                    </div>
                    <hr/>
                {% endif %}

                {% if perms.qa.can_perform_subset %}

                    <div class="input-prepend input-append" id="category">
                        <label for="category_filter" class="add-on">
                            Categories:
                        </label>
                        <select id="category_filter" multiple="multiple" class="input-medium">
                            <option value="all" selected="selected">Show All</option>
                            {% for category in categories %}
                                <option value="{{category.pk}}">
                                    {{category.name}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <div class="date input-prepend input-append" id="work-started" data-date="{% now 'd-m-Y'%}" data-date-format="dd-mm-yyyy">
                    {% spaceless %}
                        <label for="id_work_started" class="add-on">
                            {{form.work_started.label}}:
                        </label>
                        {{form.work_started}}
                        {% if perms.qa.can_override_date %}
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        {% endif %}
                    {% endspaceless %}
                </div>

                {% if perms.qa.can_override_date %}
                    <div class="date input-prepend input-append" id="work-completed" data-date="{% now 'd-m-Y'%}" data-date-format="dd-mm-yyyy">
                        <label for="id_work_completed" class="add-on">
                            {{form.work_completed.label}}:
                        </label>{{form.work_completed}}<span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                {% endif %}

                {% if perms.qa.can_review and perms.qa.can_review_own_tests %}
                    <div class="input-prepend input-append" id="status">
                        <label for="id_status" class="add-on">
                            Set Status:
                        </label>{{form.status}}
                    </div>

                {% endif %}

                {% if days %}
                    {% with unit_test_collection.tests_object as tlc %}
                        <div class="input-prepend" id="cycle-day-wrapper">
                            <label for="cycle-day" class="add-on">
                                {{ tlc.drop_down_label }}:
                            </label>
                            <select id="cycle-day" class="input-small" {% if not days %}disabled="disabled"{%endif%}>
                                <option value="next">Next scheduled</option>
                                {% for day, display in days %}
                                    <option value="{{day}}" {% if day == current_day %}selected="selected"{% endif %}>
                                    {{ display }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endwith %}
                {% endif %}

            </div>


            {% if formset.non_form_errors %}
                <div class="alert-message error">
                    {% for error in formset.non_form_errors %}
                        <span class="alert-error help-block-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}


            {{formset.management_form}}

            <table id="perform-qa-table" class="qa-table table table-bordered table-striped table-condensed" >
                <thead>
                    <tr>
                        <th class="qa-category">Category</th>
                        <th class="qa-showproc qa-name">Name</th>
                        <th class="qa-value" width=100>Value</th>
                        <th class="qa-skip">Skip</th>
                        <th class="qa-status">Status</th>
                        <th class="qa-showcmt">Comment</th>
                        {% if perms.qa.can_view_ref_tol or perms.qa.can_view_history %}
                            {% if perms.qa.can_view_ref_tol %}
                                <th class="qa-reference">Reference</th>
                            {% endif %}
                            {% if perms.qa.can_view_history %}
                                <th class="qa-history">History<br/>
                                    {% for d in history_dates %}
                                        <span class="label history-label" title="{{d}}">{{d|date:"dMy"}}</span>
                                    {% endfor %}
                                <div></div></th>
                            {% endif %}
                        {% else %}
                            <th>&nbsp;<div></div></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for test_form in formset %}
                        {% qa_value_form test_form test_list include_history=perms.qa.can_view_history include_ref_tols=perms.qa.can_view_ref_tol test_info=test_form.get_test_info  %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="row-fluid">
                <div class="span12">
                    <a id="toggle-gen-comment" class="btn pull-right" href="#" title="Click here to add a general comment about this set of tests"><i class="icon-edit"></i> Add Comment</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 qa-tli-comment">
                    {{form.comment}}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12" id="overall-qa-status">
                    <div id="do-not-treat-bottom" class="alert alert-error do-not-treat">
                        <strong> {{test_list.warning_message}} </strong>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="pull-right">
                        <label title="{{form.in_progress.help_text}}" for="id_in_progress" class="add-on">
                            Mark this list as still in progress:
                        </label>

                        {{form.in_progress}}

                        <button id="submit-qa" type="submit" class="btn btn-primary">Submit QA Results</button>
                    </div>
                </div>
            </div>
        </form>

        {# Code for displaying images under the test list #}
        <div id="qa-images">
            {% for test_form in formset %}
                {% with test=test_form.get_test_info.test ti=test_form.instance %}
                    {% if test.display_image %}
                        {% if test_list_instance %}
                            <div id="{{ test.slug }}" class="qa-image-box">
                                <strong><p>Test name: {{ test }}</p></strong>
                                <img src="{{ ti.image_url }}" class="qa-image">
                            </div>
                        {% else %}
                            <div id="{{ test.slug }}"></div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>


                <div id="progress"> <div class="bar" style="width: 0%; height:30px; background-color:red;"></div> </div>

    </div>
</div>


{% endblock %}

{% block end_body_extra_script %}
    <script src="{% static "js/qa.js" %}?v={{VERSION}}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}?v={{VERSION}}"></script>
    <script src="{% static "js/jquery.ui.widget.js" %}"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>
{% endblock %}
