{% extends "registration/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block body %}

    <h1>{% trans "Log In" %}</h1>

    <div class="row">
        <div class="span8">
            {% if user.is_authenticated %}
                <div class="alert alert-info">
                    <strong>{% trans "Note" %}</strong>:
                    {% blocktrans %}you are already logged in as {{ user }}.{% endblocktrans %}
                </div>
            {% endif %}

            <form method="POST" action="{% url "auth_login" %}" autocapitalize="off" class="form-horizontal">
                <fieldset>
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                    </div>
                </fieldset>
            </form>


            {% if not user.is_authenticated %}
                <p>{% blocktrans %}If you have any trouble logging in to your account, contact the site administrator.{% endblocktrans %}</p>
            {% endif %}

        </div>
        <div class="span4">
            {% include "registration/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
<script>
    $(document).ready(function(){
       $("#id_username").focus();
     });
</script>
{% endblock %}
