{% extends "registration/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Succesfully Changed" %}{% endblock %}

{% block body %}
    <h1>{% trans "Password Successfuly Changed" %}</h1>

    <p>{% blocktrans %}You may change it again by visiting {% endblocktrans %}<a href="{% url 'auth_password_change' %}">the password change page</a>.</p>
{% endblock %}
